<section class="extras text-center">
  <div class="row">
    <div id="about" class="col-md-4 plugs">
      <i class="fa fa-info"></i>
      <p>Do you want quick access to the information on your events and up coming events?</p>
    </div>
    <div class="col-md-4 plugs">
      <i class="fa fa-line-chart"></i>
      <p>Graph displays of the leader board sounds? Great way to see how you rank against the friends you will make!</p>
    </div>
    <div class="col-md-4 plugs">
      <i class="fa fa-users"></i>
      <p>Instance access to the vast community surrounding your event! Plus find <bold>upcoming</bold> events!</p>
    </div>
  </div>
</section>