<div id="footer" class="container-fluid">
  <footer class="text-center">
    <div class="col-sm-6">
      <h2>Source Code</h2>
      <p>Check out the <a href="http://github.com/natac13/race-roster-test" target="_blank" title="Repo to this page">GitHub repo</a>!</p>
    </div>
    <div class="col-sm-6 hidden-xs">
      <h2>Paul Irish</h2>
      <p>Want to check out the leading evangelist in JavaScript according to <a href="https://en.wikipedia.org/wiki/Paul_Irish" target="_blank" title="Paul Irish">this Wikipedia article?</a></p>
    </div>
    <div class="col-xs-12">
      <p>Creator: <a href="http://seancampbellnatac.com" target="_blank">Sean Campbell</a>
        <i class="fa fa-copyright"></i> 2015
      </p>
    </div>
  </footer>
</div>