<nav class="col-md-3 col-md-offset-1 text-center hidden-sm hidden-xs">
  <header class="nav-header">
    <h1>Navigation Links</h1>
  </header>

  <ul class="list-unstyled">
    <a href="#about"><li>About</li></a>
    <a href="#footer"><li>Contact</li></a>

  </ul>
</nav> <!-- Nav Sidebar -->