<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head %>
</head>
<body>

<div class="container-fluid text-center">
  <header class="col-xs-12 main-header">
    <h1>Endurance event of your life!</h1>
    <h3>Want to show you have the strength within yourself?</h3>
  </header>
</div> <!-- end Header -->

<main>
  <% include partials/contactForm %>
</main>

<% include partials/navSidebar %>

<% include partials/about %>

<% include partials/footer %>


<!-- Javascript setup -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Main JS file -->
<script src="assets/main.min.js"></script>
</body>
</html>