html {
  font-size: 100%;
  line-height: 1.75em;
}

body {
  font-family: 'Arvo', serif;
  background: rgba(69, 72, 81, 0.4);
}

.main-header {
  border-radius: 2em;
  background: linear-gradient(to bottom, #303239, #6a81a2);
  height: 25em;
  padding: 2em;
  margin: 0 0 3em 0;
}
@media only screen and (max-width: 699px) {
  .main-header {
    height: 35em;
  }
}
.main-header h1 {
  font-size: 5em;
  line-height: 1.05em;
  font-weight: bold;
  color: #81F4E1;
  text-shadow: 0 5px 5px #454851;
}
@media only screen and (max-width: 699px) {
  .main-header h1 {
    font-size: 3.125em;
    line-height: 1.12em;
  }
}
.main-header h3 {
  font-size: 2.5em;
  line-height: 1.4em;
  color: #7ef7e3;
  text-shadow: 5px 0 5px #454851;
}
@media only screen and (max-width: 699px) {
  .main-header h3 {
    font-size: 1.75em;
    line-height: 2em;
  }
}

.extras {
  margin: 3em auto;
  width: 90%;
}
.extras .plugs {
  font-size: 2.25em;
  line-height: 1.55556em;
  display: inline-block;
  height: 20em;
  margin-top: 2em;
  padding: 3em 3em;
  overflow: hidden;
  text-align: center;
}
@media only screen and (max-width: 699px) {
  .extras .plugs {
    font-size: 1.75em;
    line-height: 2em;
  }
}
@media only screen and (max-width: 1199px) {
  .extras .plugs {
    height: 15em;
  }
}
.extras .plugs p {
  margin-top: 0.77778em;
}
.extras .plugs i {
  font-size: 2.5em;
  line-height: 1.4em;
  box-shadow: 0 0 25px #333;
  color: #454851;
  background: rgba(255, 206, 186, 0.8);
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding-top: 0.4em;
}

main {
  margin: auto 1em;
}
main > div {
  background: #FFCEBA;
  border-radius: 1em;
}
main legend {
  font-size: 2.625em;
  line-height: 1.33333em;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: bold;
  color: #6A81A2;
  border: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 699px) {
  main legend {
    font-size: 2.1875em;
    line-height: 1.6em;
  }
}
main form {
  font-size: 1.75em;
  line-height: 2em;
  padding: 1em;
  letter-spacing: 0.1em;
  color: #333;
}
@media only screen and (max-width: 699px) {
  main form {
    font-size: 1.25em;
    line-height: 1.4em;
  }
}
main form .form-control {
  font-size: 0.9375em;
  line-height: 1.86667em;
  height: 2em;
}
main form .btn {
  font-size: 0.9375em;
  line-height: 1.86667em;
}
main .error {
  color: red;
}

nav {
  background: white;
  border-radius: 1em;
}
nav li {
  font-size: 2.0625em;
  line-height: 1.69697em;
  color: #457ac7;
  border-width: 0.09091em;
  border-style: solid;
  padding: 0.33333em;
  border-radius: 0.75em;
  margin-top: 0.5em;
  transition: box-shadow 0.5s ease-in;
}
nav li:hover {
  box-shadow: 10px 10px 70px #333 inset, -10px -10px 70px #333 inset;
}
nav a {
  transition: font-weight 0.3s ease-in, text-shadow 0.5s ease-in;
}
nav a:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 2px 3px #3b3d45;
}

footer {
  color: #81F4E1;
  font-size: 1.875em;
  line-height: 1.86667em;
  height: 15em;
  padding-top: 2em;
  background: #454851;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 699px) {
  footer {
    font-size: 1.4375em;
    line-height: 1.21739em;
  }
}
footer h2 {
  font-size: 1.5625em;
  line-height: 2.24em;
}
footer p {
  margin-top: 1.21739em;
}
footer a {
  color: #2074ec;
  transition: all 0.5s ease-in;
  font-weight: bold;
}
footer a:hover {
  color: #6ea5f3;
  text-decoration: none;
}
