main {
    margin: auto 1em;
    & > div {
        background: $extreme-color;
        border-radius: 1em;
    }

    legend {
        @include adjust-font-size-to(42px);
        letter-spacing: 0.04em;
        text-align: center;
        font-weight: bold;
        color: $primary-color;
        border: 0;
        margin-bottom: 0;

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(35px);
        }
    }
    form {
        @include adjust-font-size-to(28px);
        padding: 1em;
        letter-spacing: 0.1em;
        color: #333;

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(20px);
        }

        .form-control {
            @include adjust-font-size-to(15px);
            height: 2em;

        }

        .btn {
            @include adjust-font-size-to(15px);
        }
    }
    .error {
        color: red;
    }
}