.extras {
    margin: 3em auto;
    width: 90%;
    .plugs {
        @include adjust-font-size-to(36px);
        display: inline-block;
        height: 20em;
        margin-top: 2em;
        padding: 2em 3em;
        overflow: hidden;
        text-align: center;

        @media only screen and (max-width: 1199px) {
            height: 15em;
        }

        p {
            @include leader(1, 36px);
        }

        i {
            @include adjust-font-size-to(40px);
            box-shadow: 0 0 25px #333;
            color: $backing-color;
            background: rgba($extreme-color, 0.8);
            border-radius: 100%;
            width: 2em;
            height: 2em;
            padding-top: 0.4em;
            }
    }
}