.main-header {
    border-radius: 2em;
    background: linear-gradient(to bottom, shade($backing-color, 30%), $primary-color);
    height: 25em;
    padding: 2em;
    margin: 0 0 3em 0;

    @media only screen and (max-width: 699px) {
        height: 35em;
    }

    h1 {
        @include adjust-font-size-to(80px);
        font-weight: bold;
        color: $secondary-color;
        text-shadow: 0 5px 5px $backing-color;

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(50px);
        }
    }

    h3 {
        @include adjust-font-size-to(40px);
        color: scale-saturation($secondary-color, 23%);
        text-shadow: 5px 0 5px $backing-color;

        @media only screen and (max-width: 699px) {
            @include adjust-font-size-to(28px);
        }

    }



}