@import 'compass';

$base-font-size: 16px;
$base-line-height: 28px;
@include establish-baseline;

$primary-color: #6A81A2;
$secondary-color: #81F4E1;
$extreme-color: #FFCEBA;
$backing-color: #454851;



body {
    font-family: 'Arvo', serif;
    background: rgba($backing-color, 0.4);
}
